<!--  Create a contact form with the user's name, email, phone number and message  -->

<div class="hey">

    <label>Full name</label>
    <input id="fullNameInput"/>

    <label>Email address</label>
    <input id="emailAddressInput" type="email" accept="email"/>

    <label>Phone number</label>
    <input id="phoneNumberInput" type="number" accept="number"/>

    <label>Message</label>
    <textarea id="messageTextArea"></textarea>

    <button (click)="ContactButtonPressed()">Send Message</button>

</div>